body.logged-in {
    .leaf {
        display:none;
    }
    .first.leaf, .last.leaf {
        display:block;
    }
    
    #footer {
        li {
            display:block !important;
        }
    }
}

header#header {
    @include box-shadow(0px 0px 15px 3px hsla(61, 5%, 51%, 0.40));
    background:$frame-bg-color;
    #logo {
        position:absolute;
        top:101px;
        left:5px;
        width:198px;
        background:#fff;
        @include border-radius-2(ture);
        img {
           
            @include border-bottom-left-radius(10px);
        }

    }
    
    #block-system-user-menu {
        position:absolute;
        top:140px;
        left:125px;
        
        ul {
            li {
                list-style-image:none;
                list-style-type:none;
                a {
                    text-transform:uppercase;
                    color:#999;
                    text-decoration:none;
                    font-size:.9em;
                    &:hover{
                        text-decoration:underline;
                    }
                }
            }
        }
        section#block-user-login {
            display:none;
        }
    }
    
    hgroup {
        position:absolute;
        top:-6px;
        left:-5px;
        h1 {
            
            margin-top:10px;
            
            a {
                
                color:$heading-color;
                text-align:center;
                font-size:1.5em;
                text-decoration:none;
                display:block;
                width:195px;
                margin-left:10px;
                line-height:1.3em;
                letter-spacing:.2em;
                font-weight:bold;
                background:#fff;
                @include border-radius-2(ture);
                padding:5px 0;
            }
        }
    }
    section#block-locale-language {
        position:absolute;
        top:94px;
        left:115px;
        ul, li {
            padding:0;
            margin:0;
            list-style:none;
        }
        ul {
            @include clearfix;
            margin-top:15px;
        }
        li {
            float:left;
            margin-left:10px;
            a {
                text-indent:-9999px;
                display:block;
                width:25px;
                height:14px;
                background-image:url(../img/english.png);
                background-repeat:none;
            }
        }
        li.hr {
            a {
                background-position:0 -25px;
                &:hover {
                    background-position:-36px -25px;
                }
            }
        }
        
        li.en {
            a {
                background-position:0 0;
                &:hover {
                   background-position:-36px 0; 
                }   
            }
        }
        
    }
    #block-views-slideshow-heading-block {
        img {
           @include box-shadow(0px 0px 4px 3px hsla(61, 5%, 51%, 0.40));
        }
        float:right;
       
        position:relative;
        span {
             position:absolute;
             display:block;
             background:#fff;
             padding:3px 10px;
             text-transform:capitalize;
        }
        .slideShowTitle{
            top:155px;
            left:10px;
        
        }
    
        .slideShowCaption{
            top:190px;
            left:10px;
        
        }
    }
}