body.logged-in {
    .leaf {
        display:none;
    }
    .first.leaf, .last.leaf {
        display:block;
    }
    
    #footer {
        li {
            display:block !important;
        }
    }
}

header#header {
    //@include box-shadow(0px 0px 15px 3px hsla(61, 5%, 51%, 0.40));
    background:$frame-bg-color;
    height:291px;
    #logo {
        position:absolute;
        top:-2px;
        left:-58px;
        padding-bottom:200px;
        width:90px;
        z-index: 2000;
        background:url('../img/logo-flower.png') 0 57px no-repeat;
        //@include linear-gradient(bottom, transparent 20%,  white);
        img {
           // @include box-shadow(2px 2px 3px 2px hsla(61, 5%, 51%, 0.30));
            width:60px;
            @include border-top-left-radius(10px);
            //@include border-bottom-left-radius(10px);
        }

    }
    
    #block-system-user-menu {
        position:absolute;
        top:9px;
        right:90px;
        
        ul {
            @include clearfix;
            li {
                float:left;
                margin-right:10px;
                list-style-image:none;
                list-style-type:none;
                a {
                    text-transform:uppercase;
                    color:#fff;
                    text-decoration:none;
                    font-size:1em;
                    font-weight:bold;
                    text-shadow: 1px 1px #990000;
                    &:hover{
                        text-decoration:underline;
                    }
                }
            }
        }
        section#block-user-login {
            display:none;
        }
    }
    
    hgroup {
        h1 {
            
            margin-top:10px;
           
            a {     
                color:$heading-color;
                font-size:1.5em;
                text-decoration:none;
                display:block;
                line-height:1.3em;
                letter-spacing:.2em;
                font-weight:bold;
                @include linear-gradient(left, #fff, $heading-color);
                text-shadow: 1px 1px #000;
                padding:7px;
            }
        }
    }
    section#block-locale-language {
        position:absolute;
        top:-5px;
        right:10px;
        ul, li {
            padding:0;
            margin:0;
            list-style:none;
        }
        ul {
            @include clearfix;
            margin-top:15px;
        }
        li {
            float:left;
            margin-left:10px;
            a {
                text-indent:-9999px;
                display:block;
                width:25px;
                height:14px;
                background-image:url(../img/english.png);
                background-repeat:none;
            }
        }
        li.hr {
            a {
                background-position:0 -25px;
                &:hover {
                    background-position:-36px -25px;
                }
            }
        }
        
        li.en {
            a {
                background-position:0 0;
                &:hover {
                   background-position:-36px 0; 
                }   
            }
        }
        
    }
    #block-views-slideshow-heading-block {
        img {
          // @include box-shadow(0px 2px 4px 3px hsla(61, 5%, 51%, 0.40));
        }
    
       
        position:relative;
        span {
            position:absolute;
            display:block;
            @include background-image(linear-gradient(left, transparent 20%,  white));
            //@include border-bottom-right-radius(10px);
            padding:4px 20px;
            opacity: 0.8;
            font-weight: bold;
            font-style:italic; 
            font-size:15px;
            width:950px;
        }
        .slideShowTitle{
            top:130px;
            right:5px;
           
        
        }
    
        .slideShowCaption{
            top:0px;
            right:0px;
            text-align:right;
        }
    }
}