html.js {
    article.node {
        footer{
            display:none;
        }
    }
}

section#main{
    padding:10px;
    h1 {
        @include headings-style(1.5em);
    }
    div.view {
        margin-top:20px;
    }
    
    // disble rich text format on comments
    fieldset#edit-comment-body-und-0-format,
    div#wysiwyg-toggle-wrapper {
        display:none;
    }
    
    // clanovi
    .view-clanovi {
        ul {
            @include clearfix;
            list-style-type:none;
            padding:0;
            margin:0;
            li {
                float:left;
                margin-top:-5px;
            }
        }
    }
    div.teaser-list {
        li {
            @include clearfix;
            list-style-type:none;
            @include border-radius-2(true);
            margin-bottom:20px;
            h2 {
               @include h2-teaser-box; 
            }
            img {
                float:left;
                margin:10px 0 0 10px;
            }
            .field-content  p {
                width:535px;
                float:left;
                margin-left:20px;
            }
            div.exterlanUrl {
                margin:0 0 20px 20px;
                float:left;
                a {
                    color:$heading-color;
                    text-decoration:none;
                    &:hover {
                        text-decoration:underline;
                    }
                }
            }
        }
    }
    article.graditent {
        @include linear-gradient(bottom, #fff, #d6d6d6);
        background-image:url('../img/grass.png');
        background-image-position:0 bottom;
        background-image-repeat:repeat-x;
    }
    article {
        @include border-radius-2(true);
        background:url('../img/grass.png') 0 bottom repeat-x;

        h2 {
            @include h2-teaser-box;
        }
        padding-bottom:10px;
        .content {
            .field-name-body {
                float:right;
                width:540px;
                padding-right:10px;
                p {
                    color:#333;
                }
            }
            .field-type-image {
                float:left;
                margin-top:13px;
                img {
                    margin-left:10px;
                     @include box-shadow(0px 0px 3px 1px hsla(61, 5%, 51%, 0.40));
                }
            }
        }
    }
    
    > .content {
        @include clearfix;
        @include border-bottom-left-radius(10px);
        @include box-shadow(1px 1px 1px 1px hsla(61, 5%, 51%, 1));
        border-left:1px solid $heading-color;
        border-bottom:1px solid $heading-color;
        border-right:1px solid $heading-color;
        padding:10px;
        strong {
            font-weight: bold;
        }
        ol, ul {
            margin-left:20px;
           
        }
        a {
            color:$heading-color;
            text-decoration:none;
            &:hover {
                text-decoration:underline;
            }
        }
        .field-name-field-external-url {
            p {
                margin:0
            }
        }
        // tab links
        .field-name-field-tab-link {
            ul {
                @include clearfix;
                margin:0;
                padding:0;
                li {
                    float:left;
                    list-style-type:none;
                    margin:0px;
                    padding:0px;
                    a {
                        display:block;
                        @include button(shiny, #70be8a);
                        @include border-bottom-radius(0px);
                        font-size:1em;
                    }
                
                    a.selected {
                        @include button(shiny, #d6efdc); 
                        @include border-bottom-radius(0px);
                        font-size:1em;
                        padding-top:9px;
                    }  
                }
            }
        }
    
        .field-name-field-body-tab {
            @include box-shadow(1px 1px 3px 1px hsla(61, 5%, 51%, 0.60));
            border:1px solid #004f39;
            clear:both;
            background:#d6efdc;
            margin-top:5px;
            padding:10px;
            @include border-bottom-left-radius(10px);
            @include border-top-right-radius(10px);
            h3 {
                color:$heading-color;
                @include linear-gradient(left, #fff, #d6efdc);
                padding:5px;
                font-weight:bold;
                text-transform:uppercase;
                border-top:1px solid #004f39;
                border-bottom:1px solid #004f39;
            }
        }
        
        // web form 
        .webform-client-form {
            .form-item {
                label {
                    display:block;
                    float:left;
                    width:130px;
                }
                input[type='text'],input[type='email'] {
                    @include text-input;
                    
                }
                input[type='file'], input[type='submit'] {
                    @include button(pill, #c1d9f5); 
                    text-transform:uppercase;
                }
                input[type='submit'] {
                    margin-left:30px;
                }
            }
            .form-actions {
                input[type='submit'] {
                    @include button(shiny, #c1d9f5);
                    float:right;
                    padding:10px 50px;
                    text-transform:uppercase;
                }
            }
        }


    }
    
    form#user-login, #user-register-form, #user-pass {
        input[type='text'], input[type='password'] {
            @include text-input;
        }

        input[type='submit'] {
            @include button(shiny, #c1d9f5);
            padding:10px 50px;
            text-transform:uppercase;
        }
    }


    // gallery
    div.porodice {
        ul {
            @include clearfix;
            li {
                list-style:none;
                float:left;
                margin:1px 1px 0 0;
                a {
                    color:#990000;
                    text-transform:uppercase;
                    text-decoration:none;
                    display:block;
                    text-align:center;
                    background:#ccc;
                    padding:10px 20px;
                    @include border-radius(5px);
                    border:1px solid #ccc;
                    &:hover{
                        
                        background:#efefef;
                    }
                }
            }
        }
    }
    
    div.main-gallery {
        ul {
            @include clearfix;
            li {
                float:left;
                list-style-type:none;
                width:184px;
                height:270px;
                background:#d6efdc;
                margin-right:0px;
                border-right:1px solid #999 ;
                .views-field-field-latin-name, .views-field-title {
                  padding:0 5px;
                  font-weight: bold;
                  font-style: italic; 
                }
                .views-field-field-autor-fotografije- {
                    margin:10px 0 0 5px;
                    span {
                        float:left;
                        font-weight: bold;
                    }
                    .field-content {
                        font-style: italic;
                        float:left;
                        display: inline;
                        padding-left:5px;
                    }
                }
                .views-label {
                   
                }
            }
        }
    }
    
    // pagination
    div.ab-pagination {
        ul {
            @include clearfix;
            li {
                list-style:none;
                float:left;
                margin-right:10px;
                a {
                    text-transform:uppercase;
                    color:#990000;
                    text-decoration:none;
                    font-size:1.2em;
                    &:hover{
                        text-decoration:underline;
                    }
                }
            }
        }
    }
    
    // floristicki folder
    div.floristicki-folder {
        ul {
            @include clearfix;
            li {
                float:left;
                list-style-type:none;
                margin-right:1px;
                a {
                    color:#990000;
                    text-transform:uppercase;
                    padding:30px;
                    display:block;
                    background:#ccc;
                    @include border-radius(5px);
                    text-decoration:none;
                    border:1px solid #ccc;
                    &:hover{
                        background:#efefef;
                    };
                }
            }
        }
    }
    
    section#block-views-floristicki-folder-block {
        
        @include border-bottom-left-radius(10px);
        @include border-top-right-radius(10px);
        @include box-shadow(2px 2px 4px 1px hsla(61, 5%, 51%, 0.40));
        border-left:1px solid $heading-color;
        border-bottom:1px solid $heading-color;
        border-right:1px solid $heading-color;
        
        h2 {
            @include headings-style(1.2em);
            margin-top:40px;
        }
        
        .content {
            padding:5px;
        }
    }
    
    // comment buttons 
    section#comment-form-wrapper {
        input[type='submit'] {
             @include button(shiny, #70be8a);
             float:right;
        }
    }

    .externalLinks {
        ul {
            @include clearfix;
            li:nth-child(2n) {
                background:#cdcdcd;

            }
            li {
                @include clearfix;
                list-style: none;
                padding:5px;
                .views-field-title {
                    float:left;
                    clear:left;
                    width:400px;
                    span {
                        font-weight:bold;
                    }
                }
                .views-field-field-list-description {
                    float:left;
                    clear:left;
                    width:400px;
                }

                .views-field-field-url-link {
                    float:left;
                    a {
                        color:$heading-color;
                    }
                }
            }
        }
    }

    #block-views-clanovi-block-1 {
        margin-top:20px;
        @include border-radius-2(true);
        h2 {
            @include h2-teaser-box;
        }
        .content {
            margin-top:-20px;
        }
        a {
            color:$heading-color;
        }
        table {
            border-left:1px solid $heading-color;
            border-right:1px solid $heading-color;
        }
        td, th {
            padding:3px;
            border-right: 1px solid $heading-color; 
        }
    }
    
}