
#block-superfish-1 {
  //margin-left:5px;
  ul.sf-menu {
     > li.sfHover {
         > ul {
              top:44px;
              left:-1px;
          }
      }
  }
   
  #superfish-1{
      margin-top:5px;
      li {
          //@include button(shiny, #c1d9f5);   
          //@include border-radius(0px);
         font-size:.94em;
         padding:0;
         margin-right:1px;
         >ul {
              >li {
                  border-bottom:1px solid #fff;
              }
         }
     }
     
      a {
          padding:15px 20px 15px 20px;
          font-size:13px;
          margin:0;
          color:#000;
          text-transform:uppercase;
          //border:1px solid #f00;
          &:hover {
              color:#900;
              background:none;
          }
          
      }
  }
}
nav#navigation {
  //background:$frame-bg-color;
  position:absolute;
  left:0;
  top:225px;
  width:auto;
  padding-left:5px;
  z-index:5000;
  width:1010px;
}

body.i18n-en {
  #block-superfish-1 {
    #superfish-1{
      a {
        padding:15px 20px 15px 19px;
      }
    }
  }
}