//import burbon 
@import 'bourbon/bourbon';

// import BASE
@import 'base';

// import mixin
@import "mixin";

// inport header
@import "header";

// import main section accross the main pages
@import "section-main";

// import serach page
@import "search-page";

body.sidebar-second {
    section#main {
        width:740px;
    }
}

body {
    @include clearfix;
    font-size:0.75em;
    color: #222;
    font-family: $body-font;
    font-size: 100%;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background:url('../img/b2trees002.jpg') 50% top repeat;
    
    // edit links
    .tabs-wrapper {
        padding-top:10px;
        border-left:1px solid $heading-color;
        border-bottom:0;
        border-right:1px solid $heading-color;
        margin-bottom:0;
        @include box-shadow(2px 2px 4px 1px hsla(61, 5%, 51%, 0.40));
        li {
            a {
                color:#990000;
                
            }
        }
    } 
    
    div#header-ban {
        position:absolute;
        z-index:100;
        top:0;
        left:0;
        height:331px;
        width:100%;
        background:$frame-bg-color;
        opacity:0.8;
        display:none;
    }
    #container { 
        font-size:$body-font-size;
        @include box-shadow(0px 0px 10px 3px hsla(120, 33%, 30%, 0.60));
        @include border-bottom-radius(5px);
        background:#fff;
        padding:0px 0 0 0;
        position:relative;
        z-index:100;
        p {
            margin:10px 0;
        }
        
    }
    nav.breadcrumb {
        text-transform:uppercase;
        border-top:1px solid #dae6f5;
        border-bottom:1px solid #dae6f5;
        padding:6px 10px;
        @include linear-gradient(left, #dae6f5, #fff);
        a {
            color:#990000;
            text-decoration:none;
            &:hover {
                text-decoration:underline;
            }
        }
    }
    
    #block-search-form {
        border-top:1px solid #dae6f5;
        border-bottom:1px solid #dae6f5;
        @include linear-gradient(right, #dae6f5, #fff);
        margin-top:10px;
        padding:3px 0 2px 0;
        
        input[type='submit'] {
            @include button(pill, #c1d9f5); 
            text-transform:uppercase;
        }
        input[type='search'] {
            border:none;
            border:1px solid #199b44 !important;
            @include box-shadow(2px 2px 3px 1px hsla(61, 5%, 51%, 0.40));
            width:132px;
           
        }
    }
       
    #block-superfish-1 {
        margin-left:5px;
        ul.sf-menu {
           > li.sfHover {
               > ul {
                    top:33px;
                    left:-1px;
                }
            }
        }
         
        #superfish-1{
            margin-top:10px;
            li {
               @include button(shiny, #c1d9f5); 
               @include border-radius(0px);
               padding:0;
               margin-right:1px;
           }
           
            a {
                padding:10px 21px 10px 22px;
                border:none;
                margin:0;
                font-size:0.75em;
                color:#000;
                text-transform:uppercase;
                &:hover {
                    color:#900;
                    background:none;
                }
                
            }
        }
    }
    nav#navigation {
       background:$frame-bg-color;
       border-bottom:1px solid #ccc;
       
    }
    aside#sidebar-second {
        
        #block-views-plant-gallery-block-1 {
            @include border-radius-2(true);
            @include border-bottom-left-radius(10px);
            margin-top:10px;
            position:relative;
            padding-bottom:30px;
            background:$frame-bg-color;
            
            .views-slideshow-controls-bottom {
                position:absolute;
                bottom:10px;
                left:55px;
                span {
                    display:block;
                    width:25px;
                    height:25px;
                    text-indent:-9999px;
                    float:left;
                    background:url('../img/nav-controls.png') no-repeat;
                    margin-right:20px;
                    &:hover{
                        background-position:-28px 0px;
                    }
                }
                .views-slideshow-controls-text-previous {
                    background-position:0 -31px;
                    &:hover{
                        background-position:-28px -31px;
                    }
                }
                
                .views-slideshow-controls-text-pause {
                    background-position:0 -95px;
                    &:hover{
                        background-position:-28px -95px;
                    }
                }
            }
            
            p {
                padding:10px;
                margin:0;
            }
            h3, h4 {
                position:absolute;
                right:0px;
                background:#fff;
                padding:2px;
            }
            h3 {
                top:235px;
            }
            
            h4 {
                top:265px;
            }
            img {
                @include border-radius-2(false);
            }
        }
    }
    
    footer#footer {
        width:960px;
        margin: auto;
        padding:10px;
        font-size:$body-font-size;
        background: #d6efdc;
        opacity:.85;
        position:relative;
        z-index:1;
        margin-top:-5px;
        @include clearfix;
        padding:30px 10;
        ul {
            @include clearfix;
            float:left;
            list-style-type:none;
            margin:15px 0;
            li {
                float:left;
                list-style-image:none;
                list-style-type:none;
                margin-right:20px;
                a {
                    color:#990000;
                    text-decoration:none;
                    text-transform:uppercase;
                    text-shadow: 2px 2px #FFF;
                    &:hover{
                        text-decoration:underline;
                    }
                }
            }
        }
        p {
            float:right;
            margin-top:20px;
        }
    }
    
}


// dev default command:
// use this one all the time to include burboun 
// sass --watch -t expanded src:css -r src/bourbon/lib/bourbon.rb
// sass --style compressed --watch src:css/ -r src/bourbon/lib/bourbon.rb

// sass --watch -t expanded src:css

// Example (project root directory)
// sass --watch stylesheets/sass:stylesheets -r ./stylesheets/sass/bourbon/lib/bourbon.rb