// import BASE
@import 'base';

//import burbon 
@import 'bourbon/bourbon';

// import mixin
@import "mixin";

// inport header
@import "header";

body {
    
    @include clearfix;
    font-size:0.75em;
    background: #fff;
    color: #222;
    font-family: $body-font;
    font-size: 100%;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background:#eff9f1;
   
    #container { 
        font-size:$body-font-size;
        @include box-shadow(0px 0px 15px 3px hsla(61, 5%, 51%, 0.40));
        background:#fff;
        padding:0px 0 0 0;
        
       
    }
    nav.breadcrumb {
        text-transform:uppercase;
    }   
    section#main{
        padding:10px;
        h1 {
            font-size:1.5em;
            color:$heading-color;
            text-transform:uppercase;
            font-weight:bold;
            margin:10px 0px;
            clear:both;
        }
    }
    
    #block-superfish-1 {
        margin-left:5px;
        ul.sf-menu {
           > li.sfHover {
               > ul {
                    top:33px;
                    left:-1px;
                }
            }
        } 
        #superfish-1{
            margin-top:20px;
            li {
               @include button(shiny, #d6efdc); 
               @include border-radius(0px);
               padding:0;
               margin-right:1px;
           }
           
            a {
                padding:10px 17px;
                border:none;
                margin:0;
                font-size:0.75em;
                color:#000;
                text-transform:uppercase;
                &:hover {
                    color:#900;
                    background:none;
                }
                
            }
        }
    }

    aside#sidebar-second{
        .sml-pix {
            img {
                @include box-shadow(2px 2px 3px 1px hsla(61, 5%, 51%, 0.60));
                @include border-radius(5px)
            }
        }
    }
}


// dev default command:
// use this one all the time to include burboun 
// sass --watch -t expanded src:css -r src/bourbon/lib/bourbon.rb
// sass --style compressed --watch src/page.scss:css/page.css -r src/bourbon/lib/bourbon.rb

// sass --watch -t expanded src:css

// Example (project root directory)
// sass --watch stylesheets/sass:stylesheets -r ./stylesheets/sass/bourbon/lib/bourbon.rb