#toolbar {
  display: none;
}

#admin-menu {
  display: non;
  font-size: 1.1em;
}
#admin-menu * {
  color: #fff;
}

body.logged-in .leaf {
  display: none;
}
body.logged-in .first.leaf, body.logged-in .last.leaf {
  display: block;
}
body.logged-in #footer li {
  display: block !important;
}

header#header {
  background: #dae6f5;
  height: 291px;
}
header#header #logo {
  position: absolute;
  top: 38px;
  left: 0px;
}
header#header #logo img {
  -webkit-box-shadow: 2px 2px 3px 2px rgba(136, 136, 124, 0.3);
  -moz-box-shadow: 2px 2px 3px 2px rgba(136, 136, 124, 0.3);
  box-shadow: 2px 2px 3px 2px rgba(136, 136, 124, 0.3);
}
header#header #block-system-user-menu {
  position: absolute;
  top: 9px;
  right: 90px;
}
header#header #block-system-user-menu ul {
  zoom: 1;
}
header#header #block-system-user-menu ul:before, header#header #block-system-user-menu ul:after {
  content: "";
  display: table;
}
header#header #block-system-user-menu ul:after {
  clear: both;
}
header#header #block-system-user-menu ul li {
  float: left;
  margin-right: 10px;
  list-style-image: none;
  list-style-type: none;
}
header#header #block-system-user-menu ul li a {
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  text-shadow: 1px 1px #990000;
}
header#header #block-system-user-menu ul li a:hover {
  text-decoration: underline;
}
header#header #block-system-user-menu section#block-user-login {
  display: none;
}
header#header hgroup h1 {
  margin-top: 10px;
}
header#header hgroup h1 a {
  color: #199b44;
  font-size: 1.5em;
  text-decoration: none;
  display: block;
  line-height: 1.3em;
  letter-spacing: .2em;
  font-weight: bold;
  background-color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #199b44));
  background-image: -webkit-linear-gradient(left, white, #199b44);
  background-image: -moz-linear-gradient(left, white, #199b44);
  background-image: -ms-linear-gradient(left, white, #199b44);
  background-image: -o-linear-gradient(left, white, #199b44);
  background-image: linear-gradient(left, white, #199b44);
  text-shadow: 1px 1px #000;
  padding: 7px;
}
header#header section#block-locale-language {
  position: absolute;
  top: -5px;
  right: 10px;
}
header#header section#block-locale-language ul, header#header section#block-locale-language li {
  padding: 0;
  margin: 0;
  list-style: none;
}
header#header section#block-locale-language ul {
  zoom: 1;
  margin-top: 15px;
}
header#header section#block-locale-language ul:before, header#header section#block-locale-language ul:after {
  content: "";
  display: table;
}
header#header section#block-locale-language ul:after {
  clear: both;
}
header#header section#block-locale-language li {
  float: left;
  margin-left: 10px;
}
header#header section#block-locale-language li a {
  text-indent: -9999px;
  display: block;
  width: 25px;
  height: 14px;
  background-image: url(../img/english.png);
  background-repeat: none;
}
header#header section#block-locale-language li.hr a {
  background-position: 0 -25px;
}
header#header section#block-locale-language li.hr a:hover {
  background-position: -36px -25px;
}
header#header section#block-locale-language li.en a {
  background-position: 0 0;
}
header#header section#block-locale-language li.en a:hover {
  background-position: -36px 0;
}
header#header #block-views-slideshow-heading-block {
  float: right;
  margin-top: 1px;
  position: relative;
}
header#header #block-views-slideshow-heading-block img {
  -webkit-box-shadow: 0px 2px 4px 3px rgba(136, 136, 124, 0.4);
  -moz-box-shadow: 0px 2px 4px 3px rgba(136, 136, 124, 0.4);
  box-shadow: 0px 2px 4px 3px rgba(136, 136, 124, 0.4);
}
header#header #block-views-slideshow-heading-block span {
  position: absolute;
  display: block;
  background-color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #d6efdc));
  background-image: -webkit-linear-gradient(left, white, #d6efdc);
  background-image: -moz-linear-gradient(left, white, #d6efdc);
  background-image: -ms-linear-gradient(left, white, #d6efdc);
  background-image: -o-linear-gradient(left, white, #d6efdc);
  background-image: linear-gradient(left, white, #d6efdc);
  -webkit-box-shadow: 1px 1px 4px 1px rgba(136, 136, 124, 0.4);
  -moz-box-shadow: 1px 1px 4px 1px rgba(136, 136, 124, 0.4);
  box-shadow: 1px 1px 4px 1px rgba(136, 136, 124, 0.4);
  -webkit-border-top-right-radius: 10px;
  -moz-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  -ms-border-top-right-radius: 10px;
  -o-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -ms-border-bottom-left-radius: 10px;
  -o-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 3px 10px;
  text-transform: capitalize;
}
header#header #block-views-slideshow-heading-block .slideShowTitle {
  top: 130px;
  right: 5px;
}
header#header #block-views-slideshow-heading-block .slideShowCaption {
  top: 160px;
  right: 5px;
}

body.sidebar-second section#main {
  width: 740px;
}

html.js article.node footer {
  display: none;
}

section#main {
  padding: 10px;
}
section#main h1 {
  font-size: 1.5em;
  color: #199b44;
  text-transform: uppercase;
  font-weight: bold;
  margin: 10px 0px 0 0;
  clear: both;
  border-top: 1px solid #199b44;
  border-left: 1px solid #199b44;
  background-color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #199b44));
  background-image: -webkit-linear-gradient(left, white, #199b44);
  background-image: -moz-linear-gradient(left, white, #199b44);
  background-image: -ms-linear-gradient(left, white, #199b44);
  background-image: -o-linear-gradient(left, white, #199b44);
  background-image: linear-gradient(left, white, #199b44);
  -webkit-border-top-right-radius: 10px;
  -moz-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  -ms-border-top-right-radius: 10px;
  -o-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  padding-left: 10px;
  -webkit-box-shadow: 2px 2px 4px 1px rgba(136, 136, 124, 0.4);
  -moz-box-shadow: 2px 2px 4px 1px rgba(136, 136, 124, 0.4);
  box-shadow: 2px 2px 4px 1px rgba(136, 136, 124, 0.4);
}
section#main div.view {
  margin-top: 20px;
}
section#main fieldset#edit-comment-body-und-0-format,
section#main div#wysiwyg-toggle-wrapper {
  display: none;
}
section#main .view-clanovi ul {
  zoom: 1;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
section#main .view-clanovi ul:before, section#main .view-clanovi ul:after {
  content: "";
  display: table;
}
section#main .view-clanovi ul:after {
  clear: both;
}
section#main .view-clanovi ul li {
  float: left;
  margin-top: -5px;
}
section#main div.teaser-list li {
  zoom: 1;
  list-style-type: none;
  -webkit-box-shadow: 1px 1px 4px 1px rgba(136, 136, 124, 0.4);
  -moz-box-shadow: 1px 1px 4px 1px rgba(136, 136, 124, 0.4);
  box-shadow: 1px 1px 4px 1px rgba(136, 136, 124, 0.4);
  -webkit-border-top-right-radius: 10px;
  -moz-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  -ms-border-top-right-radius: 10px;
  -o-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -ms-border-bottom-left-radius: 10px;
  -o-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-bottom: 20px;
}
section#main div.teaser-list li:before, section#main div.teaser-list li:after {
  content: "";
  display: table;
}
section#main div.teaser-list li:after {
  clear: both;
}
section#main div.teaser-list li h2 {
  background-color: #e1fae7;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e1fae7), color-stop(100%, #c8e3ce));
  background-image: -webkit-linear-gradient(left, #e1fae7, #c8e3ce);
  background-image: -moz-linear-gradient(left, #e1fae7, #c8e3ce);
  background-image: -ms-linear-gradient(left, #e1fae7, #c8e3ce);
  background-image: -o-linear-gradient(left, #e1fae7, #c8e3ce);
  background-image: linear-gradient(left, #e1fae7, #c8e3ce);
  -webkit-border-top-right-radius: 10px;
  -moz-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  -ms-border-top-right-radius: 10px;
  -o-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  padding: 5px;
  text-transform: uppercase;
}
section#main div.teaser-list li h2 a {
  color: #199b44;
  text-decoration: none !important;
}
section#main div.teaser-list li img {
  float: left;
  margin: 10px 0 0 10px;
}
section#main div.teaser-list li .field-content p {
  width: 535px;
  float: left;
  margin-left: 20px;
}
section#main article.graditent {
  background-color: #f0f0f0;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f0f0f0), color-stop(100%, #d6d6d6));
  background-image: -webkit-linear-gradient(left, #f0f0f0, #d6d6d6);
  background-image: -moz-linear-gradient(left, #f0f0f0, #d6d6d6);
  background-image: -ms-linear-gradient(left, #f0f0f0, #d6d6d6);
  background-image: -o-linear-gradient(left, #f0f0f0, #d6d6d6);
  background-image: linear-gradient(left, #f0f0f0, #d6d6d6);
}
section#main article {
  -webkit-box-shadow: 1px 1px 4px 1px rgba(136, 136, 124, 0.4);
  -moz-box-shadow: 1px 1px 4px 1px rgba(136, 136, 124, 0.4);
  box-shadow: 1px 1px 4px 1px rgba(136, 136, 124, 0.4);
  -webkit-border-top-right-radius: 10px;
  -moz-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  -ms-border-top-right-radius: 10px;
  -o-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -ms-border-bottom-left-radius: 10px;
  -o-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
section#main article h2 {
  background-color: #e1fae7;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e1fae7), color-stop(100%, #c8e3ce));
  background-image: -webkit-linear-gradient(left, #e1fae7, #c8e3ce);
  background-image: -moz-linear-gradient(left, #e1fae7, #c8e3ce);
  background-image: -ms-linear-gradient(left, #e1fae7, #c8e3ce);
  background-image: -o-linear-gradient(left, #e1fae7, #c8e3ce);
  background-image: linear-gradient(left, #e1fae7, #c8e3ce);
  -webkit-border-top-right-radius: 10px;
  -moz-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  -ms-border-top-right-radius: 10px;
  -o-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  padding: 5px;
  text-transform: uppercase;
}
section#main article h2 a {
  color: #199b44;
  text-decoration: none !important;
}
section#main article .content .field-name-body {
  float: right;
  width: 550px;
}
section#main article .content .field-name-body p {
  color: #333;
}
section#main article .content .field-type-image {
  float: left;
  margin-top: 13px;
}
section#main article .content .field-type-image img {
  margin-left: 10px;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(136, 136, 124, 0.4);
  -moz-box-shadow: 0px 0px 3px 1px rgba(136, 136, 124, 0.4);
  box-shadow: 0px 0px 3px 1px rgba(136, 136, 124, 0.4);
}
section#main > .content {
  zoom: 1;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -ms-border-bottom-left-radius: 10px;
  -o-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-box-shadow: 1px 1px 1px 1px #88887c;
  -moz-box-shadow: 1px 1px 1px 1px #88887c;
  box-shadow: 1px 1px 1px 1px #88887c;
  border-left: 1px solid #199b44;
  border-bottom: 1px solid #199b44;
  border-right: 1px solid #199b44;
  padding: 10px;
}
section#main > .content:before, section#main > .content:after {
  content: "";
  display: table;
}
section#main > .content:after {
  clear: both;
}
section#main > .content ol {
  margin-left: 20px;
}
section#main > .content .field-name-field-tab-link ul {
  zoom: 1;
  margin: 0;
  padding: 0;
}
section#main > .content .field-name-field-tab-link ul:before, section#main > .content .field-name-field-tab-link ul:after {
  content: "";
  display: table;
}
section#main > .content .field-name-field-tab-link ul:after {
  clear: both;
}
section#main > .content .field-name-field-tab-link ul li {
  float: left;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
section#main > .content .field-name-field-tab-link ul li a {
  display: block;
  border: 1px solid #004f39;
  border-bottom: 1px solid #003f10;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 0 0 #95db96;
  -moz-box-shadow: inset 0 1px 0 0 #95db96;
  box-shadow: inset 0 1px 0 0 #95db96;
  color: white;
  display: inline;
  font-size: 14px;
  font-weight: bold;
  background-color: #70be8a;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #70be8a), color-stop(50%, #388c69), color-stop(50%, #1a735a), color-stop(100%, #21785c));
  background-image: -webkit-linear-gradient(top, #70be8a 0%, #388c69 50%, #1a735a 50%, #21785c 100%);
  background-image: -moz-linear-gradient(top, #70be8a 0%, #388c69 50%, #1a735a 50%, #21785c 100%);
  background-image: -ms-linear-gradient(top, #70be8a 0%, #388c69 50%, #1a735a 50%, #21785c 100%);
  background-image: -o-linear-gradient(top, #70be8a 0%, #388c69 50%, #1a735a 50%, #21785c 100%);
  background-image: linear-gradient(top, #70be8a 0%, #388c69 50%, #1a735a 50%, #21785c 100%);
  padding: 7px 20px 8px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -1px 1px #003118;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-bottom-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  -ms-border-bottom-left-radius: 0px;
  -o-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-bottom-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -ms-border-bottom-right-radius: 0px;
  -o-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 1em;
}
section#main > .content .field-name-field-tab-link ul li a:hover {
  cursor: pointer;
  background-color: #63af78;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #63af78), color-stop(50%, #2e8057), color-stop(50%, #136948), color-stop(100%, #1a6e4b));
  background-image: -webkit-linear-gradient(top, #63af78 0%, #2e8057 50%, #136948 50%, #1a6e4b 100%);
  background-image: -moz-linear-gradient(top, #63af78 0%, #2e8057 50%, #136948 50%, #1a6e4b 100%);
  background-image: -ms-linear-gradient(top, #63af78 0%, #2e8057 50%, #136948 50%, #1a6e4b 100%);
  background-image: -o-linear-gradient(top, #63af78 0%, #2e8057 50%, #136948 50%, #1a6e4b 100%);
  background-image: linear-gradient(top, #63af78 0%, #2e8057 50%, #136948 50%, #1a6e4b 100%);
}
section#main > .content .field-name-field-tab-link ul li a:active {
  -webkit-box-shadow: inset 0 0 20px 0 #014a10, 0 1px 0 white;
  -moz-box-shadow: inset 0 0 20px 0 #014a10, 0 1px 0 white;
  box-shadow: inset 0 0 20px 0 #014a10, 0 1px 0 white;
}
section#main > .content .field-name-field-tab-link ul li a.selected {
  border: 1px solid #61808b;
  border-bottom: 1px solid #587062;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 0 0 #fbffe8;
  -moz-box-shadow: inset 0 1px 0 0 #fbffe8;
  box-shadow: inset 0 1px 0 0 #fbffe8;
  color: #333333;
  display: inline;
  font-size: 14px;
  font-weight: bold;
  background-color: #d6efdc;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d6efdc), color-stop(50%, #9ebdbb), color-stop(50%, #80a4ac), color-stop(100%, #87a9ae));
  background-image: -webkit-linear-gradient(top, #d6efdc 0%, #9ebdbb 50%, #80a4ac 50%, #87a9ae 100%);
  background-image: -moz-linear-gradient(top, #d6efdc 0%, #9ebdbb 50%, #80a4ac 50%, #87a9ae 100%);
  background-image: -ms-linear-gradient(top, #d6efdc 0%, #9ebdbb 50%, #80a4ac 50%, #87a9ae 100%);
  background-image: -o-linear-gradient(top, #d6efdc 0%, #9ebdbb 50%, #80a4ac 50%, #87a9ae 100%);
  background-image: linear-gradient(top, #d6efdc 0%, #9ebdbb 50%, #80a4ac 50%, #87a9ae 100%);
  padding: 7px 20px 8px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -1px 1px #e3f7e8;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-bottom-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  -ms-border-bottom-left-radius: 0px;
  -o-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-bottom-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -ms-border-bottom-right-radius: 0px;
  -o-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 1em;
  padding-top: 9px;
}
section#main > .content .field-name-field-tab-link ul li a.selected:hover {
  cursor: pointer;
  background-color: #c9e0ca;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c9e0ca), color-stop(50%, #94b1a9), color-stop(50%, #799a9a), color-stop(100%, #809f9d));
  background-image: -webkit-linear-gradient(top, #c9e0ca 0%, #94b1a9 50%, #799a9a 50%, #809f9d 100%);
  background-image: -moz-linear-gradient(top, #c9e0ca 0%, #94b1a9 50%, #799a9a 50%, #809f9d 100%);
  background-image: -ms-linear-gradient(top, #c9e0ca 0%, #94b1a9 50%, #799a9a 50%, #809f9d 100%);
  background-image: -o-linear-gradient(top, #c9e0ca 0%, #94b1a9 50%, #799a9a 50%, #809f9d 100%);
  background-image: linear-gradient(top, #c9e0ca 0%, #94b1a9 50%, #799a9a 50%, #809f9d 100%);
}
section#main > .content .field-name-field-tab-link ul li a.selected:active {
  -webkit-box-shadow: inset 0 0 20px 0 #677b62, 0 1px 0 white;
  -moz-box-shadow: inset 0 0 20px 0 #677b62, 0 1px 0 white;
  box-shadow: inset 0 0 20px 0 #677b62, 0 1px 0 white;
}
section#main > .content .field-name-field-body-tab {
  -webkit-box-shadow: 1px 1px 3px 1px rgba(136, 136, 124, 0.6);
  -moz-box-shadow: 1px 1px 3px 1px rgba(136, 136, 124, 0.6);
  box-shadow: 1px 1px 3px 1px rgba(136, 136, 124, 0.6);
  border: 1px solid #004f39;
  clear: both;
  background: #d6efdc;
  margin-top: 5px;
  padding: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -ms-border-bottom-left-radius: 10px;
  -o-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  -ms-border-top-right-radius: 10px;
  -o-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
}
section#main > .content .field-name-field-body-tab h3 {
  color: #199b44;
  background-color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #d6efdc));
  background-image: -webkit-linear-gradient(left, white, #d6efdc);
  background-image: -moz-linear-gradient(left, white, #d6efdc);
  background-image: -ms-linear-gradient(left, white, #d6efdc);
  background-image: -o-linear-gradient(left, white, #d6efdc);
  background-image: linear-gradient(left, white, #d6efdc);
  padding: 5px;
  font-weight: bold;
  text-transform: uppercase;
  border-top: 1px solid #004f39;
  border-bottom: 1px solid #004f39;
}
section#main > .content .webform-client-form .form-item label {
  display: block;
  float: left;
  width: 130px;
}
section#main > .content .webform-client-form .form-item input[type='text'], section#main > .content .webform-client-form .form-item input[type='email'] {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  border: 1px solid #199b44;
  -webkit-box-shadow: 2px 2px 3px 1px rgba(136, 136, 124, 0.4);
  -moz-box-shadow: 2px 2px 3px 1px rgba(136, 136, 124, 0.4);
  box-shadow: 2px 2px 3px 1px rgba(136, 136, 124, 0.4);
  padding: 5px;
}
section#main > .content .webform-client-form .form-item input[type='file'], section#main > .content .webform-client-form .form-item input[type='submit'] {
  border: 1px solid #95b3d4;
  border-color: #95b3d4 #789cd3 #5a83d7;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  border-radius: 16px;
  -webkit-box-shadow: inset 0 1px 0 0 #e0ecfa, 0 1px 2px 0 #b3b3b3;
  -moz-box-shadow: inset 0 1px 0 0 #e0ecfa, 0 1px 2px 0 #b3b3b3;
  box-shadow: inset 0 1px 0 0 #e0ecfa, 0 1px 2px 0 #b3b3b3;
  color: #333333;
  display: inline;
  font-size: 11px;
  font-weight: normal;
  line-height: 1;
  background-color: #c1d9f5;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c1d9f5), color-stop(100%, #8caff7));
  background-image: -webkit-linear-gradient(top, #c1d9f5, #8caff7);
  background-image: -moz-linear-gradient(top, #c1d9f5, #8caff7);
  background-image: -ms-linear-gradient(top, #c1d9f5, #8caff7);
  background-image: -o-linear-gradient(top, #c1d9f5, #8caff7);
  background-image: linear-gradient(top, #c1d9f5, #8caff7);
  padding: 3px 16px 5px;
  text-align: center;
  text-shadow: 0 -1px 1px #d0e4fa;
  -webkit-background-clip: padding-box;
  text-transform: uppercase;
}
section#main > .content .webform-client-form .form-item input[type='file']:hover, section#main > .content .webform-client-form .form-item input[type='submit']:hover {
  border: 1px solid #74a3d7;
  border-color: #74a3d7 #4d87e0 #2567ee;
  -webkit-box-shadow: inset 0 1px 0 0 #cee1f7;
  -moz-box-shadow: inset 0 1px 0 0 #cee1f7;
  box-shadow: inset 0 1px 0 0 #cee1f7;
  cursor: pointer;
  background-color: #adcdf2;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #adcdf2), color-stop(100%, #80a2e7));
  background-image: -webkit-linear-gradient(top, #adcdf2, #80a2e7);
  background-image: -moz-linear-gradient(top, #adcdf2, #80a2e7);
  background-image: -ms-linear-gradient(top, #adcdf2, #80a2e7);
  background-image: -o-linear-gradient(top, #adcdf2, #80a2e7);
  background-image: linear-gradient(top, #adcdf2, #80a2e7);
  text-shadow: 0 -1px 1px #6594e1;
  -webkit-background-clip: padding-box;
}
section#main > .content .webform-client-form .form-item input[type='file']:active, section#main > .content .webform-client-form .form-item input[type='submit']:active {
  background: #9cbae7;
  border: 1px solid #4079dd;
  border-bottom: 1px solid #3264e6;
  -webkit-box-shadow: inset 0 0 6px 3px #618be8, 0 1px 0 0 white;
  -moz-box-shadow: inset 0 0 6px 3px #618be8, 0 1px 0 0 white;
  box-shadow: inset 0 0 6px 3px #618be8, 0 1px 0 0 white;
  text-shadow: 0 -1px 1px #6d97db;
}
section#main > .content .webform-client-form .form-item input[type='submit'] {
  margin-left: 30px;
}
section#main > .content .webform-client-form .form-actions input[type='submit'] {
  border: 1px solid #4c6aa4;
  border-bottom: 1px solid #435a7b;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 0 0 #e6f6ff;
  -moz-box-shadow: inset 0 1px 0 0 #e6f6ff;
  box-shadow: inset 0 1px 0 0 #e6f6ff;
  color: #333333;
  display: inline;
  font-size: 14px;
  font-weight: bold;
  background-color: #c1d9f5;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c1d9f5), color-stop(50%, #89a7d4), color-stop(50%, #6b8ec5), color-stop(100%, #7293c7));
  background-image: -webkit-linear-gradient(top, #c1d9f5 0%, #89a7d4 50%, #6b8ec5 50%, #7293c7 100%);
  background-image: -moz-linear-gradient(top, #c1d9f5 0%, #89a7d4 50%, #6b8ec5 50%, #7293c7 100%);
  background-image: -ms-linear-gradient(top, #c1d9f5 0%, #89a7d4 50%, #6b8ec5 50%, #7293c7 100%);
  background-image: -o-linear-gradient(top, #c1d9f5 0%, #89a7d4 50%, #6b8ec5 50%, #7293c7 100%);
  background-image: linear-gradient(top, #c1d9f5 0%, #89a7d4 50%, #6b8ec5 50%, #7293c7 100%);
  padding: 7px 20px 8px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -1px 1px #d0e4fa;
  float: right;
  padding: 10px 50px;
  text-transform: uppercase;
}
section#main > .content .webform-client-form .form-actions input[type='submit']:hover {
  cursor: pointer;
  background-color: #b4cae3;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b4cae3), color-stop(50%, #7f9bc2), color-stop(50%, #6484b3), color-stop(100%, #6b89b6));
  background-image: -webkit-linear-gradient(top, #b4cae3 0%, #7f9bc2 50%, #6484b3 50%, #6b89b6 100%);
  background-image: -moz-linear-gradient(top, #b4cae3 0%, #7f9bc2 50%, #6484b3 50%, #6b89b6 100%);
  background-image: -ms-linear-gradient(top, #b4cae3 0%, #7f9bc2 50%, #6484b3 50%, #6b89b6 100%);
  background-image: -o-linear-gradient(top, #b4cae3 0%, #7f9bc2 50%, #6484b3 50%, #6b89b6 100%);
  background-image: linear-gradient(top, #b4cae3 0%, #7f9bc2 50%, #6484b3 50%, #6b89b6 100%);
}
section#main > .content .webform-client-form .form-actions input[type='submit']:active {
  -webkit-box-shadow: inset 0 0 20px 0 #52657b, 0 1px 0 white;
  -moz-box-shadow: inset 0 0 20px 0 #52657b, 0 1px 0 white;
  box-shadow: inset 0 0 20px 0 #52657b, 0 1px 0 white;
}
section#main div.porodice ul {
  zoom: 1;
}
section#main div.porodice ul:before, section#main div.porodice ul:after {
  content: "";
  display: table;
}
section#main div.porodice ul:after {
  clear: both;
}
section#main div.porodice ul li {
  list-style: none;
  float: left;
  margin: 1px 1px 0 0;
}
section#main div.porodice ul li a {
  color: #990000;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  width: 100px;
  height: 60px;
  text-align: center;
  background: #ccc;
  padding-top: 40px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
section#main div.porodice ul li a:hover {
  background: #efefef;
}
section#main div.main-gallery ul {
  zoom: 1;
}
section#main div.main-gallery ul:before, section#main div.main-gallery ul:after {
  content: "";
  display: table;
}
section#main div.main-gallery ul:after {
  clear: both;
}
section#main div.main-gallery ul li {
  float: left;
  list-style-type: none;
  width: 184px;
  height: 290px;
  background: #d6efdc;
  margin-right: 0px;
  border-right: 1px solid #999;
}
section#main div.main-gallery ul li .views-field-field-latin-name, section#main div.main-gallery ul li .views-field-title {
  padding: 0 5px;
}
section#main div.main-gallery ul li .views-label {
  font-weight: bold;
}
section#main div.ab-pagination ul {
  zoom: 1;
}
section#main div.ab-pagination ul:before, section#main div.ab-pagination ul:after {
  content: "";
  display: table;
}
section#main div.ab-pagination ul:after {
  clear: both;
}
section#main div.ab-pagination ul li {
  list-style: none;
  float: left;
  margin-right: 10px;
}
section#main div.ab-pagination ul li a {
  text-transform: uppercase;
  color: #990000;
  text-decoration: none;
  font-size: 1.2em;
}
section#main div.ab-pagination ul li a:hover {
  text-decoration: underline;
}
section#main div.floristicki-folder ul {
  zoom: 1;
}
section#main div.floristicki-folder ul:before, section#main div.floristicki-folder ul:after {
  content: "";
  display: table;
}
section#main div.floristicki-folder ul:after {
  clear: both;
}
section#main div.floristicki-folder ul li {
  float: left;
  list-style-type: none;
  margin-right: 1px;
}
section#main div.floristicki-folder ul li a {
  color: #990000;
  text-transform: uppercase;
  padding: 30px;
  display: block;
  background: #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  text-decoration: none;
  border: 1px solid #ccc;
}
section#main div.floristicki-folder ul li a:hover {
  background: #efefef;
}
section#main section#block-views-floristicki-folder-block {
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -ms-border-bottom-left-radius: 10px;
  -o-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  -ms-border-top-right-radius: 10px;
  -o-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-box-shadow: 2px 2px 4px 1px rgba(136, 136, 124, 0.4);
  -moz-box-shadow: 2px 2px 4px 1px rgba(136, 136, 124, 0.4);
  box-shadow: 2px 2px 4px 1px rgba(136, 136, 124, 0.4);
  border-left: 1px solid #199b44;
  border-bottom: 1px solid #199b44;
  border-right: 1px solid #199b44;
}
section#main section#block-views-floristicki-folder-block h2 {
  font-size: 1.2em;
  color: #199b44;
  text-transform: uppercase;
  font-weight: bold;
  margin: 10px 0px 0 0;
  clear: both;
  border-top: 1px solid #199b44;
  border-left: 1px solid #199b44;
  background-color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #199b44));
  background-image: -webkit-linear-gradient(left, white, #199b44);
  background-image: -moz-linear-gradient(left, white, #199b44);
  background-image: -ms-linear-gradient(left, white, #199b44);
  background-image: -o-linear-gradient(left, white, #199b44);
  background-image: linear-gradient(left, white, #199b44);
  -webkit-border-top-right-radius: 10px;
  -moz-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  -ms-border-top-right-radius: 10px;
  -o-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  padding-left: 10px;
  -webkit-box-shadow: 2px 2px 4px 1px rgba(136, 136, 124, 0.4);
  -moz-box-shadow: 2px 2px 4px 1px rgba(136, 136, 124, 0.4);
  box-shadow: 2px 2px 4px 1px rgba(136, 136, 124, 0.4);
  margin-top: 40px;
}
section#main section#block-views-floristicki-folder-block .content {
  padding: 5px;
}
section#main section#comment-form-wrapper input[type='submit'] {
  border: 1px solid #004f39;
  border-bottom: 1px solid #003f10;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 0 0 #95db96;
  -moz-box-shadow: inset 0 1px 0 0 #95db96;
  box-shadow: inset 0 1px 0 0 #95db96;
  color: white;
  display: inline;
  font-size: 14px;
  font-weight: bold;
  background-color: #70be8a;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #70be8a), color-stop(50%, #388c69), color-stop(50%, #1a735a), color-stop(100%, #21785c));
  background-image: -webkit-linear-gradient(top, #70be8a 0%, #388c69 50%, #1a735a 50%, #21785c 100%);
  background-image: -moz-linear-gradient(top, #70be8a 0%, #388c69 50%, #1a735a 50%, #21785c 100%);
  background-image: -ms-linear-gradient(top, #70be8a 0%, #388c69 50%, #1a735a 50%, #21785c 100%);
  background-image: -o-linear-gradient(top, #70be8a 0%, #388c69 50%, #1a735a 50%, #21785c 100%);
  background-image: linear-gradient(top, #70be8a 0%, #388c69 50%, #1a735a 50%, #21785c 100%);
  padding: 7px 20px 8px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -1px 1px #003118;
  float: right;
}
section#main section#comment-form-wrapper input[type='submit']:hover {
  cursor: pointer;
  background-color: #63af78;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #63af78), color-stop(50%, #2e8057), color-stop(50%, #136948), color-stop(100%, #1a6e4b));
  background-image: -webkit-linear-gradient(top, #63af78 0%, #2e8057 50%, #136948 50%, #1a6e4b 100%);
  background-image: -moz-linear-gradient(top, #63af78 0%, #2e8057 50%, #136948 50%, #1a6e4b 100%);
  background-image: -ms-linear-gradient(top, #63af78 0%, #2e8057 50%, #136948 50%, #1a6e4b 100%);
  background-image: -o-linear-gradient(top, #63af78 0%, #2e8057 50%, #136948 50%, #1a6e4b 100%);
  background-image: linear-gradient(top, #63af78 0%, #2e8057 50%, #136948 50%, #1a6e4b 100%);
}
section#main section#comment-form-wrapper input[type='submit']:active {
  -webkit-box-shadow: inset 0 0 20px 0 #014a10, 0 1px 0 white;
  -moz-box-shadow: inset 0 0 20px 0 #014a10, 0 1px 0 white;
  box-shadow: inset 0 0 20px 0 #014a10, 0 1px 0 white;
}

body.page-search-node h2 {
  display: none;
}
body.page-search-node form.search-form {
  margin-top: 20px;
}
body.page-search-node form.search-form input[type='text'] {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  border: 1px solid #199b44;
  -webkit-box-shadow: 2px 2px 3px 1px rgba(136, 136, 124, 0.4);
  -moz-box-shadow: 2px 2px 3px 1px rgba(136, 136, 124, 0.4);
  box-shadow: 2px 2px 3px 1px rgba(136, 136, 124, 0.4);
  padding: 5px;
}
body.page-search-node form.search-form input[type='submit'] {
  border: 1px solid #95b3d4;
  border-color: #95b3d4 #789cd3 #5a83d7;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  border-radius: 16px;
  -webkit-box-shadow: inset 0 1px 0 0 #e0ecfa, 0 1px 2px 0 #b3b3b3;
  -moz-box-shadow: inset 0 1px 0 0 #e0ecfa, 0 1px 2px 0 #b3b3b3;
  box-shadow: inset 0 1px 0 0 #e0ecfa, 0 1px 2px 0 #b3b3b3;
  color: #333333;
  display: inline;
  font-size: 11px;
  font-weight: normal;
  line-height: 1;
  background-color: #c1d9f5;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c1d9f5), color-stop(100%, #8caff7));
  background-image: -webkit-linear-gradient(top, #c1d9f5, #8caff7);
  background-image: -moz-linear-gradient(top, #c1d9f5, #8caff7);
  background-image: -ms-linear-gradient(top, #c1d9f5, #8caff7);
  background-image: -o-linear-gradient(top, #c1d9f5, #8caff7);
  background-image: linear-gradient(top, #c1d9f5, #8caff7);
  padding: 3px 16px 5px;
  text-align: center;
  text-shadow: 0 -1px 1px #d0e4fa;
  -webkit-background-clip: padding-box;
}
body.page-search-node form.search-form input[type='submit']:hover {
  border: 1px solid #74a3d7;
  border-color: #74a3d7 #4d87e0 #2567ee;
  -webkit-box-shadow: inset 0 1px 0 0 #cee1f7;
  -moz-box-shadow: inset 0 1px 0 0 #cee1f7;
  box-shadow: inset 0 1px 0 0 #cee1f7;
  cursor: pointer;
  background-color: #adcdf2;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #adcdf2), color-stop(100%, #80a2e7));
  background-image: -webkit-linear-gradient(top, #adcdf2, #80a2e7);
  background-image: -moz-linear-gradient(top, #adcdf2, #80a2e7);
  background-image: -ms-linear-gradient(top, #adcdf2, #80a2e7);
  background-image: -o-linear-gradient(top, #adcdf2, #80a2e7);
  background-image: linear-gradient(top, #adcdf2, #80a2e7);
  text-shadow: 0 -1px 1px #6594e1;
  -webkit-background-clip: padding-box;
}
body.page-search-node form.search-form input[type='submit']:active {
  background: #9cbae7;
  border: 1px solid #4079dd;
  border-bottom: 1px solid #3264e6;
  -webkit-box-shadow: inset 0 0 6px 3px #618be8, 0 1px 0 0 white;
  -moz-box-shadow: inset 0 0 6px 3px #618be8, 0 1px 0 0 white;
  box-shadow: inset 0 0 6px 3px #618be8, 0 1px 0 0 white;
  text-shadow: 0 -1px 1px #6d97db;
}
body.page-search-node form.search-form fieldset {
  margin-top: 10px;
}
body.page-search-node form.search-form fieldset a.fieldset-title {
  color: #990000;
}
body.page-search-node ol {
  border-top: 1px solid #199b44;
  padding-top: 10px;
}
body.page-search-node ol li {
  border-bottom: 1px solid #199b44;
}
body.page-search-node ol li h3 {
  text-transform: uppercase;
}
body.page-search-node ol li h3 a {
  color: #199b44;
}
body.page-search-node ol li h3 a:hover {
  text-decoration: none;
}

#block-superfish-1 ul.sf-menu > li.sfHover > ul {
  top: 44px;
  left: -1px;
}
#block-superfish-1 #superfish-1 {
  margin-top: 5px;
}
#block-superfish-1 #superfish-1 li {
  font-size: .94em;
  padding: 0;
  margin-right: 1px;
}
#block-superfish-1 #superfish-1 li > ul > li {
  border-bottom: 1px solid #fff;
}
#block-superfish-1 #superfish-1 a {
  padding: 15px 17px 15px 17px;
  font-size: 1.2em;
  margin: 0;
  color: #000;
  text-transform: uppercase;
}
#block-superfish-1 #superfish-1 a:hover {
  color: #900;
  background: none;
}

nav#navigation {
  position: absolute;
  left: 0;
  top: 235px;
  width: auto;
  padding-left: 5px;
  z-index: 5000;
}

aside#sidebar-second #block-views-plant-gallery-block-1 {
  -webkit-box-shadow: 1px 1px 4px 1px rgba(136, 136, 124, 0.4);
  -moz-box-shadow: 1px 1px 4px 1px rgba(136, 136, 124, 0.4);
  box-shadow: 1px 1px 4px 1px rgba(136, 136, 124, 0.4);
  -webkit-border-top-right-radius: 10px;
  -moz-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  -ms-border-top-right-radius: 10px;
  -o-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -ms-border-bottom-left-radius: 10px;
  -o-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -ms-border-bottom-left-radius: 10px;
  -o-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-top: 10px;
  position: relative;
  padding-bottom: 30px;
  background: #dae6f5;
}
aside#sidebar-second #block-views-plant-gallery-block-1 .views-slideshow-controls-bottom {
  position: absolute;
  bottom: 10px;
  left: 55px;
}
aside#sidebar-second #block-views-plant-gallery-block-1 .views-slideshow-controls-bottom span {
  display: block;
  width: 25px;
  height: 25px;
  text-indent: -9999px;
  float: left;
  background: url("../img/nav-controls.png") no-repeat;
  margin-right: 20px;
}
aside#sidebar-second #block-views-plant-gallery-block-1 .views-slideshow-controls-bottom span:hover {
  background-position: -28px 0px;
}
aside#sidebar-second #block-views-plant-gallery-block-1 .views-slideshow-controls-bottom .views-slideshow-controls-text-previous {
  background-position: 0 -31px;
}
aside#sidebar-second #block-views-plant-gallery-block-1 .views-slideshow-controls-bottom .views-slideshow-controls-text-previous:hover {
  background-position: -28px -31px;
}
aside#sidebar-second #block-views-plant-gallery-block-1 .views-slideshow-controls-bottom .views-slideshow-controls-text-pause {
  background-position: 0 -95px;
}
aside#sidebar-second #block-views-plant-gallery-block-1 .views-slideshow-controls-bottom .views-slideshow-controls-text-pause:hover {
  background-position: -28px -95px;
}
aside#sidebar-second #block-views-plant-gallery-block-1 p {
  padding: 10px;
  margin: 0;
}
aside#sidebar-second #block-views-plant-gallery-block-1 h3, aside#sidebar-second #block-views-plant-gallery-block-1 h4 {
  position: absolute;
  right: 0px;
  background: #fff;
  padding: 2px;
}
aside#sidebar-second #block-views-plant-gallery-block-1 h3 {
  top: 235px;
}
aside#sidebar-second #block-views-plant-gallery-block-1 h4 {
  top: 265px;
}
aside#sidebar-second #block-views-plant-gallery-block-1 img {
  -webkit-border-top-right-radius: 10px;
  -moz-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  -ms-border-top-right-radius: 10px;
  -o-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -ms-border-bottom-left-radius: 10px;
  -o-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
aside#sidebar-second #block-views-dogadanja-activnosti-block {
  margin-top: 20px;
  -webkit-box-shadow: 1px 1px 4px 1px rgba(136, 136, 124, 0.4);
  -moz-box-shadow: 1px 1px 4px 1px rgba(136, 136, 124, 0.4);
  box-shadow: 1px 1px 4px 1px rgba(136, 136, 124, 0.4);
  -webkit-border-top-right-radius: 10px;
  -moz-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  -ms-border-top-right-radius: 10px;
  -o-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -ms-border-bottom-left-radius: 10px;
  -o-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid #199b44;
  margin-bottom: 20px;
}
aside#sidebar-second #block-views-dogadanja-activnosti-block h2 {
  font-weight: bold;
  color: #199b44;
  margin: 0;
  padding: 7px 5px;
  border-bottom: 1px solid #199b44;
}
aside#sidebar-second #block-views-dogadanja-activnosti-block h3 {
  padding: 5px;
}
aside#sidebar-second #block-views-dogadanja-activnosti-block h3 a {
  text-transform: uppercase;
  color: #990000;
  text-decoration: none;
}
aside#sidebar-second #block-views-dogadanja-activnosti-block ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
aside#sidebar-second #block-views-dogadanja-activnosti-block ul li {
  border-bottom: 1px solid #ccc;
}

body.html footer#footer {
  width: 960px;
  margin: auto;
  padding: 10px;
  font-size: 0.75em;
  background: #d6efdc;
  opacity: .85;
  position: relative;
  z-index: 1;
  margin-top: -5px;
  zoom: 1;
  padding: 30px 10;
}
body.html footer#footer:before, body.html footer#footer:after {
  content: "";
  display: table;
}
body.html footer#footer:after {
  clear: both;
}
body.html footer#footer ul {
  zoom: 1;
  float: left;
  list-style-type: none;
  margin: 15px 0;
}
body.html footer#footer ul:before, body.html footer#footer ul:after {
  content: "";
  display: table;
}
body.html footer#footer ul:after {
  clear: both;
}
body.html footer#footer ul li {
  float: left;
  list-style-image: none;
  list-style-type: none;
  margin-right: 20px;
}
body.html footer#footer ul li a {
  color: #990000;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 2px 2px #FFF;
}
body.html footer#footer ul li a:hover {
  text-decoration: underline;
}
body.html footer#footer p {
  float: right;
  margin-top: 20px;
}

p strong {
  font-weight: bold;
}

p em {
  font-style: italic;
}

body.html {
  zoom: 1;
  font-size: 0.75em;
  color: #222;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background: url("../img/b2trees002.jpg") 50% top repeat;
}
body.html:before, body.html:after {
  content: "";
  display: table;
}
body.html:after {
  clear: both;
}
body.html iframe html body {
  background: none !important;
}
body.html .tabs-wrapper {
  padding-top: 10px;
  border-left: 1px solid #199b44;
  border-bottom: 0;
  border-right: 1px solid #199b44;
  margin-bottom: 0;
  -webkit-box-shadow: 2px 2px 4px 1px rgba(136, 136, 124, 0.4);
  -moz-box-shadow: 2px 2px 4px 1px rgba(136, 136, 124, 0.4);
  box-shadow: 2px 2px 4px 1px rgba(136, 136, 124, 0.4);
}
body.html .tabs-wrapper li a {
  color: #990000;
}
body.html div#header-ban {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  height: 331px;
  width: 100%;
  background: #dae6f5;
  opacity: 0.8;
  display: none;
}
body.html #container {
  font-size: 0.75em;
  -webkit-box-shadow: 0px 0px 10px 3px rgba(51, 102, 51, 0.6);
  -moz-box-shadow: 0px 0px 10px 3px rgba(51, 102, 51, 0.6);
  box-shadow: 0px 0px 10px 3px rgba(51, 102, 51, 0.6);
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -ms-border-bottom-left-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -ms-border-bottom-right-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: #fff;
  padding: 0px 0 0 0;
  position: relative;
  z-index: 100;
}
body.html #container p {
  margin: 10px 0;
}
body.html nav.breadcrumb {
  text-transform: uppercase;
  border-top: 1px solid #dae6f5;
  border-bottom: 1px solid #dae6f5;
  padding: 6px 10px;
  background-color: #dae6f5;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dae6f5), color-stop(100%, white));
  background-image: -webkit-linear-gradient(left, #dae6f5, white);
  background-image: -moz-linear-gradient(left, #dae6f5, white);
  background-image: -ms-linear-gradient(left, #dae6f5, white);
  background-image: -o-linear-gradient(left, #dae6f5, white);
  background-image: linear-gradient(left, #dae6f5, white);
}
body.html nav.breadcrumb a {
  color: #990000;
  text-decoration: none;
}
body.html nav.breadcrumb a:hover {
  text-decoration: underline;
}
body.html #block-search-form {
  border-top: 1px solid #dae6f5;
  border-bottom: 1px solid #dae6f5;
  background-color: #dae6f5;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dae6f5), color-stop(100%, white));
  background-image: -webkit-linear-gradient(right, #dae6f5, white);
  background-image: -moz-linear-gradient(right, #dae6f5, white);
  background-image: -ms-linear-gradient(right, #dae6f5, white);
  background-image: -o-linear-gradient(right, #dae6f5, white);
  background-image: linear-gradient(right, #dae6f5, white);
  margin-top: 10px;
  padding: 3px 0 2px 0;
}
body.html #block-search-form input[type='submit'] {
  border: 1px solid #95b3d4;
  border-color: #95b3d4 #789cd3 #5a83d7;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  border-radius: 16px;
  -webkit-box-shadow: inset 0 1px 0 0 #e0ecfa, 0 1px 2px 0 #b3b3b3;
  -moz-box-shadow: inset 0 1px 0 0 #e0ecfa, 0 1px 2px 0 #b3b3b3;
  box-shadow: inset 0 1px 0 0 #e0ecfa, 0 1px 2px 0 #b3b3b3;
  color: #333333;
  display: inline;
  font-size: 11px;
  font-weight: normal;
  line-height: 1;
  background-color: #c1d9f5;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c1d9f5), color-stop(100%, #8caff7));
  background-image: -webkit-linear-gradient(top, #c1d9f5, #8caff7);
  background-image: -moz-linear-gradient(top, #c1d9f5, #8caff7);
  background-image: -ms-linear-gradient(top, #c1d9f5, #8caff7);
  background-image: -o-linear-gradient(top, #c1d9f5, #8caff7);
  background-image: linear-gradient(top, #c1d9f5, #8caff7);
  padding: 3px 16px 5px;
  text-align: center;
  text-shadow: 0 -1px 1px #d0e4fa;
  -webkit-background-clip: padding-box;
  text-transform: uppercase;
}
body.html #block-search-form input[type='submit']:hover {
  border: 1px solid #74a3d7;
  border-color: #74a3d7 #4d87e0 #2567ee;
  -webkit-box-shadow: inset 0 1px 0 0 #cee1f7;
  -moz-box-shadow: inset 0 1px 0 0 #cee1f7;
  box-shadow: inset 0 1px 0 0 #cee1f7;
  cursor: pointer;
  background-color: #adcdf2;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #adcdf2), color-stop(100%, #80a2e7));
  background-image: -webkit-linear-gradient(top, #adcdf2, #80a2e7);
  background-image: -moz-linear-gradient(top, #adcdf2, #80a2e7);
  background-image: -ms-linear-gradient(top, #adcdf2, #80a2e7);
  background-image: -o-linear-gradient(top, #adcdf2, #80a2e7);
  background-image: linear-gradient(top, #adcdf2, #80a2e7);
  text-shadow: 0 -1px 1px #6594e1;
  -webkit-background-clip: padding-box;
}
body.html #block-search-form input[type='submit']:active {
  background: #9cbae7;
  border: 1px solid #4079dd;
  border-bottom: 1px solid #3264e6;
  -webkit-box-shadow: inset 0 0 6px 3px #618be8, 0 1px 0 0 white;
  -moz-box-shadow: inset 0 0 6px 3px #618be8, 0 1px 0 0 white;
  box-shadow: inset 0 0 6px 3px #618be8, 0 1px 0 0 white;
  text-shadow: 0 -1px 1px #6d97db;
}
body.html #block-search-form input[type='search'] {
  border: none;
  border: 1px solid #199b44 !important;
  -webkit-box-shadow: 2px 2px 3px 1px rgba(136, 136, 124, 0.4);
  -moz-box-shadow: 2px 2px 3px 1px rgba(136, 136, 124, 0.4);
  box-shadow: 2px 2px 3px 1px rgba(136, 136, 124, 0.4);
  width: 132px;
}
